@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Poppins", sans-serif;
}
:root{
    --btn-bg: var(--color-emerald-100);
    --btn-text: var(--color-emerald-800);
}

* {
    font-family: "Poppins", sans-serif;
}
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--color-emerald-600);
}
body::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-emerald-500);
}
body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}
body::-webkit-scrollbar-track:hover {
    background-color: #e1e1e1;
}


body ::-webkit-scrollbar {
    width: 5px;
}
body ::-webkit-scrollbar-thumb {
    background-color: var(--color-emerald-600);
    border-radius: 10px;
}
body ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-emerald-500);
}
body ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}
body ::-webkit-scrollbar-track:hover {
    background-color: #e1e1e1;
}
